<header id="layout-header">

        <div class="mini-logo">
            <p>
                <a href='/'>
                    <i class="fa fa-telegram" ></i> codeial
                </a>
            </p>
        </div>
        <!-- <i class="far fa-bell-slash" style="font-size: 25px; cursor: pointer; padding: 5px; margin: auto; width: 20px;";></i> -->
    <nav>
        <div >
            <ul>
                <% if (locals.user){ %>
                <li>
                    <a class="auth-links" href="/users/profile/<%= u.id %>"><%= user.name %></a>
                </li>
                <li>
                    <a class="auth-links" href="/users/sign-out">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a class="auth-links" href="/users/sign-in">Sign In</a>
                </li>
                <li>
                    <a class="auth-links" href="/users/sign-up">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>
 


</header>