<!-- <link rel="stylesheet" href="/css/layout.css"> -->

<div id = forgot-contianer><form action="/forgot" method="POST">
    <input type="text" name="email" placeholder = "Your Email" >
    <input type="submit" value="Submit">
</div>
</form>