
<div id = reset-password-contianer>
    <form action="/forgot" method="POST">
    <input type="text" name="email" placeholder = "Your Email" required="true" >
    <input type="submit" value="Submit">
</div>
</form>

