<h1>Sign in</h1>
<!--session created between users and server or browser and server when user logs in-->
<form action ="/users/create-session" method ="POST">
<input type="email" name = "email" placeholder="Email" required>
<input type="password" name = "password" placeholder="password" required>
<inpu type = "submit" value="signIn"></inpu>
 </form>