#layout-header{
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        background: #2196f3;
        color: white;
        box-shadow: 1px 1px 1px 1px lightgrey;

        .mini-logo{
            p{
                margin: 5px;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
        // .notificatioan-logo{
        //     display: flex;
        //     display: inline-block;
        //     padding: 5px;
        //     border: 1px solid black;
        //     curs
        // }
        .auth-links{
            ul{
                margin: 5% 5px;
                display: flex;

                li{
                    margin-right: 10px;
                    list-style: none;
                a:hover{
                    box-shadow:0px 0px 6px 4px lightseagreen;
                a{
                    transition: color 0.5s, border-bottom 2px;

                a{
                    font-weight: 100%
                }    
                }    
                }    
                }
            }
        }

        a{
            color: white;
            text-decoration: none;
        }

    }
}