#home-container{
    display:flex;
     
    #feed-posts{
        width: 70%;
        padding: 10px;
    #freind-container{
        border-left:solid red 3px;
        #user-friends{
        width: 30%;
        padding: 10px;
    //    border-left: 1px solid lightgrey;
       height: 100%;
    //    border-style: 2px solid lightcyan;
    //    border-left:2px solid lightblue;
    }
    }
}}