#home-container {
  display: flex; 
background-color: rgb(226, 224, 224);}
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
    #home-container #feed-posts #freind-container {
      border-left: solid red 3px; }
      #home-container #feed-posts #freind-container #user-friends {
        width: 30%;
        padding: 10px;
        height: 100%; }
#home-container h4{
  font-size: 50px;
  font-weight: 500;
  margin: 10px;
  color: gray;
}
#posts-list-container{
  margin-left: 20px;
}